<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="<%= elioName %>" />
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />
    <link rel="apple-touch-startup-image" href="/static/splash.jpg" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="manifest" href="/static/manifest.json" />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/static/css/<%= snakeName %>.min.css?cb=v1.2"
    />

    <title>
      {% block title %}{% endblock title %} <%= CamelName %>
    </title>
    <meta name="description" content="" />
  </head>
  <body ontouchstart="">
    <menu>
      {% block menu %}{% endblock menu %}
    </menu>
    <h1>
      {% block h1 %}{% endblock h1 %}
    </h1>
    {% block content %}{% endblock content %}
    <footer>
      <div>
        <a href="/">
          <img src="/static/elio-<%= kebabName %>-logo.png" />
        </a>
      </div>
      <div>
        <label>&copy; 2019 Made the elioWay</label>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous">
    </script>
    {% block script %}{% endblock script %}
  </body>
</html>
