{% extends "base.html" %}

{% block menu %}
  <img src="/static/favicon.png" />
{% endblock %}

{% block content %}
  <p><img src="/static/splash.jpg" /></p>
  {% if 'username' in session %}
    <p>
      Welcome to your music collection, user
      <b>{{ session['username'] }}</b>
    </p>
    <form action="{{url_for('index')}}" method="post">
      <input type="submit" name="logout" value="logout" />
    </form>
  {% else %}
    <form action="{{url_for('index')}}" method="post">
      <legend>
        Login
      </legend>
      <p>
        Username:<br />
        <input type="text" name="username" />
      </p>
      <p>
        Password:<br />
        <input type="password" name="passwd" />
      </p>
      <p><input type="submit" value="submit" /></p>
    </form>
  {% endif %}
{% endblock %}
