{% extends "base.html" %}

{% block menu %}
<img src="/static/favicon.svg" />
{% endblock %}

{% block content %}
  <ul>
    {% for result in results %}
    <li>{{ result }}</li>
    {% endfor %}
  </ul>
{% endblock %}
