{% extends '<%= snakeName %>/base.html' %}
{% load static %}

{% block title %}
  {{ thing_name }}
{% endblock title %}

{% block h1 %}
  {{ thing_name }}
{% endblock h1 %}

{% block content %}
  {% spaceless %}
  {% include 'dna/_thing_listed.html' %}
  {% endspaceless %}
  <p>
    <a href="{% url 'create.thing' page_slug 'list' thing_name %}">
      <button type="button">Add
        {{ thing_name }}</button>
    </a>
  </p>
{% endblock content %}
